* {
    margin: 0;
    font-family: 'Courier New', monospace;
    text-align: center;
    
}

h1 {
    font-size: 48px;
}

.section-title {
    margin: 30px 0;
    font-size: 24px;
}
.btn {
    height: 38px;
    background-color: transparent;
    color: black;
    border: 2px solid #4CAF50;
   
}

/* header section */

.header {

    height: 800px;
    background-color: aqua;
    background-image: url("images/b5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.nav-bar {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;


}

.intro-section {
  margin-top: 70px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-120%);


}
.intro-section p {
    margin: 40px 0;
}

.nav-bar ul li {

    display: inline;
    margin-left: 10px;
}


 /* featured section */

 .featured-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 .image-card {
     margin: 10px 10px;
     border-radius: 10px;
 }

 /* Quote Section */

 .quote {
     text-align: center;
     padding: 30px 0;
     margin-top: 40px;
     margin: auto;
     max-width: 700px;
 }


 /* Footer Section */

 .footer {
     height: 100px;
     background-color: teal;
     padding: 30px 30px;
 }
 .row {
     display: flex;
     justify-content: space-evenly;
    
 }
.lisence {
    text-align: center;
}