* {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    
}

h1 {
    font-size: 48px;
    font-family: 'Prompt', sans-serif;
}

.section-title {
    margin: 60px 30px 30px;
    font-size: 24px;
    font-family: 'Prompt', sans-serif;
}
.btn {
    height: 38px;
    width: 120px;
    background-color: rgb(26, 41, 39);
    color: white;
    border-radius: 10px;
    border: none;
    
   
}
.btn:hover {
    background-color: white;
    color: black;
}

/* header section */

.header {

    height: 700px;
    background-image: url("images/b5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.nav-bar {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;


}

.nav-bar h3 a {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}
.nav-bar ul li {

    display: inline;
    margin-left: 10px;
}
.nav-bar a {
 color: white;
 text-decoration: none;
}


.intro-section {
  margin-top: 70px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-120%);


}
.intro-section p {
    margin: 20px 0;
}




 /* featured section */

 .featured-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 .image-card {
     margin: 10px 10px;
     border-radius: 10px;
 }
 .image-card p {
  margin: 20px 0;
 }
 

 /* Quote Section */

 .quote {
     text-align: center;
     padding: 30px 0;
     margin-top: 40px;
     margin: auto;
     max-width: 700px;
 }



 /* About Me Section */

 .about-section {
     margin: auto;
 }

 .about-row {
    display: flex;
    justify-content: center;
 }

 /* Footer Section */

 .footer {
     height: 100px;
     background-color: teal;
     padding: 30px 30px;
 }
 .row {
     display: flex;
     justify-content: space-evenly;
    
 }
.lisence {
    text-align: center;
}